
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


header {
    background-color: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header h2 {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}


header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

header ul li a:hover {
    color: #00ff99;
}
.tarjeta {
    background-color: rgba(255, 255, 255, 0.31);
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.tarjeta:hover {
    background-color: #00ff99;
    color: black;
}
.formularios {
    background-color: rgba(255, 255, 255, 0.31);
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
   box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.45);

    text-align: center;
}
.formularios input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.formularios button {
    width: 100%;
    padding: 10px;
    background-color: #00ff99;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.formularios textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    height: 100px;
    resize: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}