
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #00000086;
}


header {
    background-color: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header h2 {
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
}


header ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

header ul li a:hover {
    color: #00ff99;
}

.welcome {
text-align: center;
padding: 10px;
width: 100%;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.inicio {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 450px;
    padding: 0;              /* quitar espacio interno */
    background: none;        /* quitar fondo negro */
}

.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;          /* elimina espacio fantasma abajo */
}

.card:hover {
    transform: scale(1.03);  /* efecto más profesional */
    transition: 0.3s ease;
}
.texto {
    position: absolute;
    bottom: 0;               /* lo manda al pie */
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);  /* fondo oscuro transparente */
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.card-grande {
    width: 100%;
    max-width: 1000px;   /* opcional para que no sea exageradamente grande */
    height: 350px;
    overflow: hidden;
    border-radius: 12px;
}

.card-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* 👈 ESTO ES CLAVE */
}

.tarjeta {
    background-color: rgba(255, 255, 255, 0.31);
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.tarjeta:hover {
    background-color: #00ff99;
    color: black;
}
.formularios {
    background-color: rgba(255, 255, 255, 0.31);
    width: 350px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 12px;
   box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.45);

    text-align: center;
}
.formularios input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.formularios button {
    width: 100%;
    padding: 10px;
    background-color: #00ff99;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.formularios textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    height: 100px;
    resize: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar {
  width: 250px;
  background: black;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
}

.menu-vertical {
  list-style: none;
  padding: 0;
}

.menu-vertical li {
  margin-bottom: 10px;
}

.menu-vertical a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 12px;
  background: #222;
  border-radius: 8px;
}

.menu-vertical a:hover {
  background: #444;
}

.submenu {
  list-style: none;
  padding-left: 15px;
  margin-top: 8px;
  display: none;
}

.submenu a {
  background: #333;
  font-size: 16px;
}

/* Mostrar submenu al pasar el mouse */
.menu-vertical li:hover .submenu {
  display: block;
}
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}